
/** language start */
.language {
    display: none;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1.50rem;

    a {
        outline: none;
        display: block;
        transition: all 0.5s ease-out;

        &:hover {
            color: var(--yellow-color);
        }
    }

}
/** language end */



/** language media screen start */
@media screen and (max-width: 900px) {

    .language {
        margin-left: 0;
    }

}
/** language media screen end */