
/** components tabs start */
.tabs {
    display: flex;
    justify-content: space-between;
    margin: 0 0 4rem;
    padding: 1rem 0;
    border-bottom: 1px solid var(--border-line-color);

    /** left start */
    &-left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    /** left end */


    /** right */
    &-right {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    /** right end */

}
/** components tabs end */

@import "./tabs-components__nav";
@import "./tabs-components__search";

